<nav class="navbar navbar-toggleable-sm navbar-inverse">
  <button 
    *ngIf="authService.isAuthenticated()" 
    class="navbar-toggler navbar-toggler-left" 
    (click)="toggle(toggled)" 
    type="button" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <button 
    *ngIf="!authService.isAuthenticated()" 
    class="navbar-toggler navbar-toggler-left" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand mx-auto nav-logo" routerLink="/challenges">
    <img src="./assets/CA-logo_v2.png" width="30" height="30" class="logo" alt="Logo">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item">
          <a
            class="nav-link" 
            style="cursor: pointer;"
            (click)="authService.login()">Signup</a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link"
            style="cursor: pointer;"
            (click)="authService.login()">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>


</nav>