.challenge--button {
  background-color: rgb(103, 114, 229);
  border-color: rgb(88, 98, 201);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}
.challenge--button:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.2), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

.challenge--button-group {
  padding: 15px;
}

.challenge-detail--challenge-info {
  margin-top: 20px;
}
.challenge-detail--creator {
  display: flex;
}
.challenge-detail--creator-image {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  margin-right: 8px;
}
.challenge-detail--creation-date {
  font-style: italic;
}
.challenge-detail--main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.challenge-detail--media {
  width: 100%;
  max-height: 280px;
}


.card {
  border: none;
  background: #fcfcfc;
}

.card-footer {
  background: #fcfcfc;
}