<div class="row" *ngIf="challenge">
  <div class="col-xs-12">
    <section class="challenge-detail--challenge-info">
      <button *ngIf="!isCompeting" (click)="joinChallenge(challenge.id)" class="btn btn-primary challenge--button" type="button">Join!</button>
      <button *ngIf="!hasSubmited && isCompeting" (click)="isSubmitting = !isSubmitting" class="btn btn-primary challenge--button" type="button">{{ isSubmitting ? 'Back' : 'Submit' }}</button>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>{{ challenge.name }}</h2>
          <div class="challenge-detail--creator">
            <img 
              src="{{challenge.user_picture}}" 
              class="img-responsive challenge-detail--creator-image" 
              alt="User Image">
            <div class="challenge-detail--creator-info">
              <a routerLink="/users/{{challenge.creator_id}}">{{ challenge.creator }}</a>
              <p class="challenge-detail--creation-date">{{ challenge.created_at | date }}</p>
            </div>
          </div>
          <hr>
          <div class="challenge-detail--challenge-details">
            <p>{{ challenge.description }}
            </p>
            <p>Categories: {{ challenge.category }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 challenge-detail--main-info">
          <cl-image *ngIf="challenge.resource_type === 'image'" class="img-responsive" [public-id]="challenge.public_id" secure="true">
            <cl-transformation width="450" height="300" crop="fit"></cl-transformation>
          </cl-image>
        <cl-video *ngIf="challenge.resource_type === 'video'" class="img-responsive" [public-id]="challenge.public_id" secure="true">

        </cl-video>
        </div>
      </div>
    </section>
    
    <hr>

    <div class="row">
      <div class="col-xs-12">
        
        <app-chat *ngIf="!isSubmitting"></app-chat>

        <app-submissions-new *ngIf="isSubmitting"></app-submissions-new>

      </div>
    </div>

  </div>
</div>