<div class="progress" *ngIf="isUploading">
  <div class="progress-bar upload-progress-bar progress-bar-striped active" 
    [ngClass]="{ 'progress-bar-success': uploadProgress === 100 }"
    role="progressbar"
    [ngStyle]="{ width: uploadProgress + '%' }"
    style="min-width: 2em;">
    {{uploadProgress}}%
  </div>
</div>
<h3>Create Submission</h3>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div class="form-group">
    <label for="submission">My Submission</label>
    <input type="file" id="submission" name="file" ng2FileSelect [uploader]="uploader" required>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="details">Submission Details</label>
        <textarea 
          type="text" 
          id="details" 
          name="details"
          ngModel
          rows="6"
          class="form-control"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit!</button>
      </div>
    </div>
  </div>
</form>