<div class="wrapper">


    <div id="sidebar" [class.active]="isToggled && authService.isAuthenticated()">

        <app-sidebar *ngIf="authService.isAuthenticated()"></app-sidebar>
  
    </div>

    <div id="content"  [class.toggled]="isToggled && authService.isAuthenticated()">

      <app-header (onToggled)="onActive()"></app-header>

      <router-outlet></router-outlet>

    </div>

    <div id="overlay" (click)="onActive()" [class.active]="isToggled && isMobile && authService.isAuthenticated()"><div>

</div>






















<!--<app-header></app-header>

<div [ngClass]="{ 'container-fluid': authService.isAuthenticated(), 'container': !authService.isAuthenticated() }" class="">


  <div class="row">
    <div class="col-12 col-md-3 p-0" *ngIf="authService.isAuthenticated()">

      <app-sidebar></app-sidebar>

    </div>

    <div class="col-12 p-0 p-md-3" [ngClass]="authService.isAuthenticated() ? 'col-md-6' : 'col-md-12'">
      
      <router-outlet></router-outlet>

    </div>
    
  </div>
</div>-->