/*  Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

.sidenav-profile--heading {
  background-color: rgba(13, 43, 62, .96);
  color: rgb(255, 255, 255);
}

.sidenav-profile--picture {
  border-radius: 50%;
  max-height: 50px;
}

.sidenav-profile--user-info {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all .2s ease;
}

.sidenav-profile--user-score {
  text-align: center;
}

.sidenav-profile--user-info:hover {
  color: rgba(103, 114, 229, .92);
}

.sidenav-navlist--item {
  cursor: pointer;
  border-color: #C9C9C9;
  border-radius: 0;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.sidenav-navlist--item:hover {
  background-color: #F7F7F7;
  border-top-color: #C9C9C9; 
  border-right: 10px solid rgb(88, 98, 201);
}

.sidenav-navlist a {
  color: rgba(13, 43, 62, 1);
}
.sidenav-navlist a:hover {
  color: rgba(103, 114, 229, .92);
}

a.sidenav-navlist--item.active {
  background-color: #F7F7F7;
  border-right: 10px solid rgb(62, 207, 142);
  color: rgb(88, 98, 201);
  font-weight: bolder;
}
