<div class="container">
  <div class="row" >
    <div class="col-12" *ngIf="authService.isAuthenticated()">
      <br>
      <button 
        routerLink="/challenges/new"
        type="button" 
        class="btn btn-primary challenge--button">Create Challenge</button>
    </div>
  </div>
  <br>

  <div class="row justify-content-center" *ngFor="let challenge of challenges">
    <div class="col-12 pl-0 pr-0 pl-sm-3 pr-sm-3 mb-sm-4">

      <div class="card challenge-item">
        <!-- Challenge Header -->
        <div class="card-header">
            <h4 class="card-title">
              <a routerLink="/challenges/{{challenge.id}}">{{ challenge.name }}</a>
            </h4>
        </div>

        <!-- Challenge Image -->
        <img [src]="challenge.challenge_img" class="img-fluid challenge-item--media cover" alt="Challenge Image">
        <div class="card-block">
        <!--<div class="panel-body">-->
          <div class="challenge-item--creator">
            <img 
              src="{{challenge.user_picture}}" 
              class="img-fluid challenge-item--creator-image" 
              alt="User Image">
            <div class="challenge-item--creator-info">
              <a routerLink="/users/{{challenge.creator_id}}">{{ challenge.creator }}</a>
              <p class="challenge-item--creation-date">{{ challenge.created_at | date }}</p>
            </div>
          </div>
          <!--<hr>-->
          <div class="card-block">
            <p class="card-text">{{ challenge.description }}</p>

          </div>
        </div>
        <div class="card-footer">
          <p class="card-text" [ngPlural]="challenge.competitor_count">
            <ng-template ngPluralCase="=0">No Competitors!</ng-template>
            <ng-template ngPluralCase="=1">{{ challenge.competitor_count }} Competitor</ng-template>
            <ng-template ngPluralCase="=2">{{ challenge.competitor_count }} Competitors</ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>