<div class="container-fluid">
  <div class="row" *ngIf="authService.isAuthenticated()">
    <div class="col-xs-12">
      <br>
      <button 
        routerLink="new"
        type="button" 
        class="btn btn-primary challenge--button">Create Challenge</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12" *ngFor="let challenge of challenges">
      <div class="panel panel-default challenge-item">
        <div class="panel-heading">
          <div class="challenge-item--header">
            <p class="panel-title">
              <a routerLink="{{challenge.id}}">{{ challenge.name }}</a>
            </p>
          </div>
        </div>
        <img [src]="challenge.video_url" class="img-responsive challenge-item--media" alt="Challenge Image">
        <div class="panel-body">
          <div class="challenge-item--creator">
            <img 
              src="{{challenge.user_picture}}" 
              class="img-responsive challenge-item--creator-image" 
              alt="User Image">
            <div class="challenge-item--creator-info">
              <a routerLink="/users/{{challenge.creator_id}}">{{ challenge.creator }}</a>
              <p class="challenge-item--creation-date">{{ challenge.created_at | date }}</p>
            </div>
          </div>
          <hr>
          <p>{{ challenge.description }}</p>
          <!--<ul>
            <li>categories: {{ challenge.category }}</li>
            <li>private?: {{ challenge.private }}</li>
            <li>expires: {{ challenge.expires_at | date }}</li>
          </ul>-->
        </div>
        <div class="panel-footer">
          <p># Competitors</p>
          <!--<button (click)="joinChallenge(challenge.id)" class="btn btn-primary challenge--button" type="button">Join!</button>-->
        </div>
      </div>
  </div>
  </div>
</div>