<div class="row">
  <div class="col-xs-12">
    <br>
    <a 
      routerLink="new"
      type="button" 
      class="btn btn-primary">Create Challenge</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" *ngFor="let challenge of challenges">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ challenge.name }}</h3>
        <p>{{ challenge.creator }}</p>
        <span>{{ challenge.created_at | date }}</span>
        <span>points: {{ challenge.points }}</span>
      </div>
      <div class="panel-body">
        <br>
        <p>{{ challenge.description }}</p>
        <ul>
          <!--<li>name: {{ challenge.name }}</li>-->
          <li>video_url: {{ challenge.video_url }}</li>
          <li>category: {{ challenge.category }}</li>
          <!--<li>description: {{ challenge.description }}</li>-->
          <!--<li>points: {{ challenge.points }}</li>-->
          <!--<li>created_at: {{ challenge.created_at }}</li>-->
          <!--<li>creator_id: {{ challenge.creator_id }}</li>-->
        </ul>
      </div>
      <!--<div class="panel-footer">
        <ul class="list-inline">
          <li>Original</li>
          <li class="pull-right">Sale</li>
        </ul>
        <ul class="list-inline">
          <li><a class="btn btn-danger">$</a></li>
          <li class="pull-right"><a class="btn btn-success">$</a></li>
        </ul>
      </div>-->
    </div>
</div>
</div>