<h3>New Challenge</h3>
<hr>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit(challengeForm)" #challengeForm="ngForm">
  <div class="row">
    <div class="col-xs-12">

      <div class="progress" *ngIf="isUploading">
        <div class="progress-bar upload-progress-bar progress-bar-striped active" 
          [ngClass]="{ 'progress-bar-success': uploadProgress === 100 }"
          role="progressbar"
          [ngStyle]="{ width: uploadProgress + '%' }"
          style="min-width: 2em;">
          {{uploadProgress}}%
        </div>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input 
          type="text" 
          id="name" 
          name="name"
          ngModel
          required
          class="form-control">
      </div>

      <div class="form-group">
        <label for="video_url">Video URL</label>
        <input type="file" id="video_url" name="file" ng2FileSelect [uploader]="uploader" required>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="category">Category</label>
            <select 
              id="category" 
              name="category"
              ngModel  
              required
              class="form-control">
                <option selected disabled hidden value="">Select a Category</option>
                <optgroup label="Categories">
                  <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                </optgroup>
            </select>
          </div>

          <div class="form-group">
            <label for="expires_at">Date to Complete</label>
            <input 
              type="date" 
              id="expires_at" 
              name="expires_at"
              ngModel
              required
              class="form-control">
          </div>

        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label>
              <input type="checkbox" name="private" [(ngModel)]="isPrivateDefault">
              Private challenge?
            </label>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea 
          type="text" 
          id="description" 
          name="description"
          ngModel
          required
          rows="6"
          class="form-control"></textarea>
      </div>

      <button 
        class="btn btn-success challenge--button" 
        [disabled]="!challengeForm.valid"
        type="submit">Create</button>
      <button 
        (click)="onClear()"
        class="btn btn-default" 
        type="button">Clear</button>
    </div>
  </div>
</form>